*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
}
body{
    background-color: #7886C7;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 40px;
}

.container{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background: linear-gradient(45deg, rgb(39, 71, 139), rgb(10, 17, 116));
    border-radius: 20px;
    height: 300px;
    width: 500px;
    min-height: 200px;
}
input{
    border: none;
    border-radius: 10px;
    padding-right: 150px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 15px;
}
input::placeholder{
    display: flex;
    padding-left: 10px;
    letter-spacing: 2px;
}


button{
    border: none;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(230, 230, 230);
}
button:active{
    background-color: gray;
}
h1{
    color: white;
}

p{
    margin-right: 190px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    text-align: end;
    color: white;
    font-size: 20px;
    cursor: pointer;
}